@page "/"

<PageTitle>Quartiles Cracker</PageTitle>

<table>
    @for (int row = 0; row < rows; row++)
    {
        <tr>
            @for (int col = 0; col < columns; col++)
            {
                <td>
                    <input
                           @* @bind="GridValues[row][col]" *@
                           @* maxlength="@MAX_CHUNK_LENGTH"                            *@
                           @* oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')" *@
                           @* alt="Cell @row @col" *@
                           required />
                </td>
            }
        </tr>
    }
</table>

<button @onclick="SubmitGrid">Submit</button>
