.inter-font-chunk {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
}

/* || SOLUTION TEXT COLOR */

.KNOWN_VALID_SOLUTION {
    color: #f7cb48;
}

.LIKELY_VALID_SOLUTION {
    color: #32CD32;
}

.WEAK_SOLUTION {
    color: orange;
}

/* || QUARTILES INPUT TABLE*/

.grid-letters {
    border-bottom: 5px solid #ccc;
    border-radius: 10px;
    padding: 0px;
    background-color: white;
    width: 80px;
    height: 50px;
    overflow: hidden;
}
/* 70 w */

.grid-input {
    border: none;
    outline: none;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.quartiles-grid {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
    background-color: #f4f3fa;
}

/* || SUBMITION BUTTON */

.grid-submit-button {
    background-color: #0060e5;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:active {
    background-color: #004bb3;
}



.center-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: fit-content;
}

.solution-word {

}

.solution-chunk {
    text-align: center;
}

/* Align each individual solution container horizontally */
.solutions-container-all {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

/* Align solution contents vertically*/
.solutions-container-individual {

}

.solutions-title-individual {
    text-align: center;

}

.solution-table-display {
}

.solution-word {

}

.solution-chunk {

}

.solutions-title {
    text-align: center;
}