@page "/"
@rendermode InteractiveServer

<PageTitle>Quartiles Cracker</PageTitle>

<table>
    @for (int row = 0; row < rows; row++)
    {
        <tr>
            @for (int col = 0; col < columns; col++)
            {
               Chunk chunk = GetChunk(row, col);
                <td>
                    <input
                           @bind="chunk.Letters"
                           maxlength="@MAX_CHUNK_LENGTH"
                           oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')"
                           alt="Cell @row @col"
                     />
                </td>
            }
        </tr>
    }
</table>

<button 
    @onclick="SubmitGrid">Submit</button>

@if (Results != null && Results.Count > 0)
{
    <h3>Results</h3>
    <ul>
        @foreach (var result in Results)
        {
            <li>@result</li>
        }
    </ul>
}