@page "/"
@rendermode InteractiveServer

<PageTitle>Quartiles Cracker</PageTitle>

<h1>Quartiles Cracker</h1>

<div class="center-grid-container">
    <div class="table-wrapper">
        <table class="quartiles-grid">
            @for (int row = 0; row < Rows; row++)
            {
                <tr>
                    @for (int col = 0; col < Columns; col++)
                    {
                        Chunk chunk = GetChunk(row, col);

                        <td class="grid-letters">
                            <input class="inter-font-chunk grid-input"
                            type="text"
                            spellcheck="false"
                            @bind="chunk.Letters"
                            maxlength="@MaxChunkLength"
                            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')"
                            alt="Cell @row @col" />
                        </td>
                    }
                </tr>
            }
        </table>

        <button class="grid-submit-button" type="button" @onclick="SubmitGrid">Find Solutions</button>
    </div>
</div>

@if (Solutions != null && Solutions.Count > 0)
{
    <h3>Answers</h3>





    <table class="solution-display quartiles-grid">
        @foreach (var solMapping in SolutionChunkMapping)
        {
            string solution = solMapping.Key;
            List<string> chunks = solMapping.Value;
            <tr>
                <td class="solution-word inter-font-chunk">@solution</td>

                @foreach (var chunk in chunks)
                {
                    <td class="solution-chunk inter-font-chunk grid-letters">@chunk</td>
                }
            </tr>
        }
    </table>
    <ul>

    </ul>
}