@page "/"
@rendermode InteractiveServer

<PageTitle>Quartiles Cracker</PageTitle>

<table>
    @for (int row = 0; row < Rows; row++)
    {
        <tr>
            @for (int col = 0; col < Columns; col++)
            {
                Chunk chunk = GetChunk(row, col);
                <td>
                    <input
                    @bind="chunk.Letters"
                    maxlength="@MaxChunkLength"
                    oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')"
                    alt="Cell @row @col"
                    />
                </td>
            }
        </tr>
    }
</table>

<button @onclick="SubmitGrid">Submit</button>

@if (Solutions != null && Solutions.Count > 0)
{
    <h3>Answers</h3>
    <ul>
        @foreach (var solMapping in SolutionChunkMapping)
        {
            string solution = solMapping.Key;
            var chunks = string.Join(" · ", solMapping.Value);

            <li>@solution&nbsp;&nbsp;&nbsp;@chunks</li>
        }
    </ul>
}